DEBUG=0
SECRET_KEY=change_me_to_a_secure_random_key_in_production
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1] shopping-cart.farhaad.online
SQL_ENGINE=django.db.backends.postgresql
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me_to_a_secure_password_in_production
POSTGRES_DB=postgres

# Superuser credentials for database initialization seeder
# DJANGO_SUPERUSER_USERNAME=admin
# DJANGO_SUPERUSER_PASSWORD=change_me_to_a_secure_password
